* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-color: #007bff;
    --secondary-color: #eff0f6;
    --font-color: #5f626f;

    --font-size-normal: 1rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 1.4rem;
}
